:root {--color-fuente:#333;     /*Variables*/
    --color-inverso: #fffffff6;
    --color-concreto: rgba(255, 166, 0, 0.863);
    --fuente-arial: Arial, Helvetica, sans-serif;
    --morado: rgb(192, 7, 192);
}

html {  /*Tipo de caja*/
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {  /*Alineación del cuerpo*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100dvh;
    gap: 5.5em;
}

header {width: 100%;    /*Cabecera*/

}

caption {   /*Personalización título*/
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
    font-weight: bold;
}

p {line-height: 24px;   /*Tamaño del texto*/

}

main {width: 75dvw; /*Contenido de la página*/

}

table.bordes {width: 100%;
    border-style: solid;
    border-width: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

nav a:hover {width: 200px;  /*Personalización del hover de enlaces*/
    padding-left: 5dvw;
}

footer {width: 100%;    /*Pie de página*/
    h2 {line-height: 1.5;

    }

    a {line-height: 12px;
        color: var(--color-concreto);
        &:hover{background-color: var(--color-inverso);}
    }
}